# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key_here

# OpenAI API Key (if using OpenAI embeddings or models)
# OPENAI_API_KEY=your_openai_api_key_here

# RAG Pipeline Configuration
# CHUNKING_METHOD=fixed           # options: fixed, semantic
# EMBEDDING_METHOD=static         # options: local, openai, static
# VECTORE_STORE=pgvector          # options: pgvector, weaviate
# SYSTEM_PROMPT=ANSWER THE QUERY WITH THE GIVEN CONTEXT

# Whisper Model Device for Audio Ingestion (defaults to cpu if not set)
WHISPER_DEVICE=cpu                # options: cpu, cuda
